.wrapper {
    margin: auto;
    width: 1280px;
}

.topmenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    background-color: rgb(190, 186, 126);;
}
.menu > li {
    list-style:none;
    color:rgb(66, 65, 80);
    padding: 0.25em;
}
.etu {
    text-align: center;
}
.flexgrowcon {
    display: flex;
    align-items: stretch;

}
.leftbar, .rightbar{
    background-color: rgb(190, 186, 126);
    min-height: 500px;
    width: 100px;
    
}
footer {
    background-color: rgb(190, 186, 126);
    height: 35px;
    text-align: center;
    padding-top: 1em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
li > a {
    color:rgb(37, 37, 37);
    text-decoration: none;
}
a:visited {
    color:rgb(71, 88, 30);
}
a:hover {
    font-style: italic;
    color:rgb(42, 73, 42);
}
h1 {
    text-align: center;
    font-size: 20px;
    font-family:sans-serif;
}
