body {
    background-color: rgb(250, 246, 241);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    color:rgb(133, 37, 37);
    font-size: 16px;
    text-decoration-line: underline;
    border-bottom: rgb(214, 6, 58);
    text-align:center ;

}
h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align:center ;
    text-decoration-line: underline;
    color:rgb(133, 37, 37);
    border-bottom: rgb(214, 6, 58);
}
address {
    font-weight: lighter;
    background-origin: padding-box;
}
dl {
    font-size: 14px;
    text-decoration-line: underline;
    font-weight: bolder;
}
a {
    color: maroon;
    font-size: 14px;
}
a:visited {
    color:rgb(77, 3, 52)
}
a:hover {
    font-style: italic;
    text-decoration: none;
}
div.topnav {
    background-color: rgba(185, 185, 185, 0.719);
    text-align: center;
}
figcaption {
    text-align: center;
}
video {
    align-items: center;
}